<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="content.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='content.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

  </head>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/clubs">Clubs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hour-tracker">Time Management</a>
      </li>

    </ul>
  </nav>


  <body style="background-image: url('static/wallpaper-home.jpg');" class="home">

    <!-- <style type="text/css">
      button {
       background-image: url('assets/jhu.jpeg');
       padding: 100px 110px;
       border-radius: 10px;
       color: back;
       transition: all .2s;
      }     
  </style> -->

    <div class="jumbotron text-center">
            <h1>Virtual Adviser</h1>
      <div class="text-primary">
            <p>The first virtual advisor for college students.</p>

      </div>
    </div>

    <div class="text-center">
      <p>Select your participating college:</p>
      <button style="background-image: url('static/jhu.jpeg');
      padding: 100px 110px;
      border-radius: 10px;
      color: back;
      transition: all .2s;
      margin:2em;" type="button"></button>
    </div>
   

    
    <div style="background-color: white; opacity: 0.9">
       <div class="row">
            <div class="col-4">
              <iframe
                style="width:100%"
                allow="microphone;"
                height="430"
                src="https://console.dialogflow.com/api-client/demo/embedded/71714467-7c78-4b2e-a922-1c52e6b452a6">
              </iframe>
            </div>

            <div class="col-7" style="background-color: white;">
              <h1>About Virtual Adviser</h1>
              <p1> Virtual Adviser is an option for college students who are new to a school or who are struggling in college and need school-specific tips.</p1>
            </div>
        </div>
    </div>


  </body>


</div>


</html>