

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 2em;
}

div {
    background-color: white;
}
h1 {
    background-color: white;

}
.container-fluid{
    opacity: .9;
}