font-family: myriad-pro, sans-serif;
font-style: normal;
font-weight: 300;

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 2em;
}

input {
    margin: 1em
}


.container-fluid{
    opacity: .9;
}